alabaster
anaconda-client
anyio==3.6.2
appdirs==1.4.4
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.13.1
asn1crypto==1.4.0
astroid==2.6.6
astropy==4.3.1
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.10.0
binaryornot==0.4.4
bitarray==2.3.0
bkcharts==0.2
black==19.10b0
bleach==4.0.0
blis==0.7.9
bokeh==2.4.1
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
catalogue==2.0.8
certifi==2021.10.8
conda
conda-build
ipykernel==6.4.1
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
nltk==3.6.5
nose==1.3.7
notebook==6.4.5
numba==0.54.1
numexpr==2.7.3
numpy==1.20.3
numpydoc==1.1.0
olefile==0.46
openpyxl==3.0.9
packaging==21.0
pandas==1.3.4
pillow==8.4.0
pip==21.2.4
pipreqs==0.4.11
pkginfo==1.7.1
platformdirs==2.5.4
plotly==5.11.0
pluggy==0.13.1
ply==3.11
poyo==0.5.0
preshed==3.0.8
prometheus-client==0.11.0
prompt-toolkit==3.0.20
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.20
pycurl==7.44.1
pydantic==1.10.2
pydocstyle==6.1.1
pyerfa==2.0.0
pyflakes==2.3.1
Pygments==2.10.0
PyJWT==2.1.0
pyLDAvis==3.3.1
pylint==2.9.6
pyls-spyder==0.4.0
python-dateutil==2.8.2
regex==2021.8.3
requests==2.26.0
rope==0.19.0
Rtree==0.9.7
ruamel-yaml-conda==0.15.100
scikit-image==0.18.3
scikit-learn==0.24.2
scikit-learn-intelex==2021.20210714.170444
scipy==1.7.1
seaborn==0.11.2
setuptools==58.0.4
simplegeneric==0.8.1
singledispatch==3.7.0
sip==4.19.13
six==1.16.0
sklearn==0.0.post1
smart-open==5.2.1
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
spacy==3.4.2
tqdm==4.62.3
traitlets==5.1.0
typed-ast==1.4.3
wheel==0.37.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wordcloud==1.8.2.2
wrapt==1.12.1
wurlitzer==2.1.1
xlrd==2.0.1
XlsxWriter==3.0.1
xlwt==1.3.0
xmltodict==0.12.0
yapf==0.31.0
yarg==0.1.9
zict==2.0.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
voila
fastai>=2
packaging
